<div class="container">
    <div class="row">
        <div class="col-md-12 pt-4 pb-4">
            <h1>Venue: {{venueName}}</h1>
        </div>
        <div class="col-md-6 p-3">
            <p>{{eventName}} event will be held at the {{venueName}}, located in
                {{venueAddress}}, {{venueCity}}</p>
            <img src="../assets/venue.jpg" width="100%" alt="venue img">
        </div>
        <div class="col-md-6 p-3">
            <p><b>Address</b>: <u>{{venueName}}, {{venueAddress}}, {{venueCity}}</u></p>
            <p><b>Venue Website</b>: <u>{{venueWebsite}}</u></p>
            <p><b>Phone</b>: {{venueContactNo}}</p>
            <img src="../assets/map.png" width="100%" alt="map img">
        </div>
    </div>
</div>